---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Trindtech",
    position: "Desenvolvedor de Software",
    desc: [
      "Responsável pelo aprimoramento contínuo de um portal baseado em WordPress.",
      "Atuação no Front-End em diversos projetos, garantindo interfaces responsivas e amigáveis.",
    ],
    tech: [
      "React",
      "Next.js",
      "TypeScript",
      "WordPress",
      "PHP",
      "Tailwind CSS",
    ],
    link: "https://trindtech.com.br/",
  },
  {
    title: "Compass UOL",
    position: "Desenvolvedor Mobile (Estágio)",
    desc: [
      "Estágio em desenvolvimento de aplicações mobile, focado em React Native.",
    ],
    tech: ["React Native", "Styled Component", "TypeScript"],
    link: "https://compass.uol/",
  },
  {
    title: "Porto Seguro Roteiros",
    position: "Desenvolvedor Front-End",
    desc: [
      "Atuei desde a fase de planejamento até a implementação final do site de captação, garantindo que todas as funcionalidades atendessem às necessidades do cliente.",
      "Participei da equipe de desenvolvimento do aplicativo Marés Costa do Descobrimento.",
    ],
    tech: ["React", "Next.js", "React Native", "Tailvind CSS", "Dokploy"],
    link: "https://portoseguroroteiros.com.br/",
  },
];
---

<!doctype html>
<html>
  <Header title="Minhas experiências | Vinícius Freire" />
  <body>
    <div class="content">
      <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Voltar</div></a
            >
          </div>
          <div class="content-container">
            <h1>Experiências</h1>
            <section class="items-container">
              <div class="resouce-items">
                {
                  projects.map((project) => (
                    <Project
                      title={project.title}
                      link={project.link}
                      position={project.position}
                      desc={project.desc}
                      tech={project.tech}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
